/* Header.css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color: #333;
    color: white;
  }
  
  .header {
    font-family: "Sonsie One", serif;
    font-weight: 700;
    font-style: oblique;
  }
  
  .logout-button {
    padding: 10px 20px;
    background-color: #ff4757; /* Red button */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .logout-button:hover {
    background-color: #e84118; /* Darker red on hover */
  }
  .link{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  