/* Footer.css */
footer.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 16px;
  position: fixed;
  width: 100%;
  bottom: 0;
}
